<ul class="sidebar" [ngClass]="darkMode ? dark : light">
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/dashboard"
      ><i class="bx bxs-dashboard"></i>Dashboard</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/property"
      ><i class="bx bxs-building-house"></i>Property</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/services"
      ><i class="bx bxs-wrench"></i>Services</a
    >
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" routerLinkActive="active" routerLink="/admin/units"
      ><i class="bx bx-building"></i>Units</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/tenancy"
      ><i class="bx bx-group"></i>Tenancy</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/invoices"
      ><i class="bx bxs-wallet"></i>Invoices</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/payments"
      ><i class="bx bx-money-withdraw"></i>Payments</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/statements"
      ><i class="bx bxs-dashboard"></i>Statements</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/admin/expenditures"
      ><i class="bi bi-cash-coin"></i>Expenditure</a
    >
  </li>
  <li class="sidebar-item">
    <a
      class="sidebar-link"
      routerLinkActive="active"
      routerLink="/adminaccounts"
      ><i class="bx bxs-dashboard"></i>Accounts(Ledger)</a
    >
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" routerLinkActive="active">Entry/Exit Records</a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" routerLink="/admin/test" routerLinkActive="active"
      >Test</a
    >
  </li>
</ul>
