<div class="holder">  
    <div class="card">
        <div class="card-header border-transparent">
        <h3 class="card-title">Requests</h3>
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        </div>
        </div>
        
        <div class="card-body p-0">
        <div class="table-responsive">
        <table class="table m-0">
        <thead>
        <tr>
        <th>Tenant Name</th>
        <th>Property</th>
        <th>Unit</th>
        <th>Time of Request</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-success">deposited</span></td>
        <td>
        <div class="sparkbar" data-color="#00a65a" data-height="20">data</div>
        </td>
        </tr>
        <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-warning">no deposit</span></td>
        <td>
        <div class="sparkbar" data-color="#f39c12" data-height="20">data</div>
        </td>
        </tr>
        <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-danger">late</span></td>
        <td>
        <div class="sparkbar" data-color="#f56954" data-height="20">data</div>
        </td>
        </tr>
        <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-info">data</span></td>
        <td>
        <div class="sparkbar" data-color="#00c0ef" data-height="20">data</div>
        </td>
        </tr>
        <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-warning">data</span></td>
        <td>
        <div class="sparkbar" data-color="#f39c12" data-height="20">data</div>
        </td>
        </tr>
        <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-danger">late</span></td>
        <td>
        <div class="sparkbar" data-color="#f56954" data-height="20">data</div>
        </td>
        </tr>
        <tr>
        <td>>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td><span class="badge bg-success">deposited</span></td>
        <td>
        <div class="sparkbar" data-color="#00a65a" data-height="20">data</div>
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        <div class="card-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">reject all requests</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right"(click)="acceptAllRequests()" >accept all requests</a>
    </div>
</div>
