.form-field label{
    width: 160px;
}


svg{
    width: 70px;
    height: 70px;
    margin: 20px;
    display:inline-block;
    position:absolute;
    left:43%;
    top: 30%;
}

@media screen and (max-width: 720px){
    .form-field label{
        width:120px;
        font-weight: 500 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
       }
}