<div class="acc-holder">
    <div class="inner">
        <div class="top-profile "> 
            <h2>Security</h2>
        </div>
        <h3>Change your password</h3>
        <form> 
            <label>Current password</label><br>
            <input type="text" placeholder="Enter current password" ><br><br>
            <label>New password</label><br>
            <input type="text" placeholder="Enter new password" ><br>
            <button type="submit">Save changes</button>
        </form>
        
        <span >Two step verification</span>
        <p>Keep your account extra secure with a second login step. Learn more</p>
        <p>Manage two-step verification</p>

</div>
