<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"   routerLinkActive="active" routerLink="/management">Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  routerLink="/property">Property</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/units">Units</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/tenancy">Tenancy</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/invoices">Invoices</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/payments">Payments</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/statements">Statements</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  routerLink="/expenditures">Expenditure</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  routerLink="accounts">Accounts(Ledger)</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" >Entry/Exit Records</a>
    </li>
  </ul>
