<strong class="mb-0">Display</strong>
     <p>Control you display settings</p>
     <div class="list-group mb-5 shadow">
         <div class="list-group-item">
             <div class="row align-items-center">
                 <div class="col">
                     <strong class="mb-0">Dark Mode</strong>
                     <p class="text-muted mb-0">Donec in quam sed urna bibendum tincidunt quis mollis mauris.</p>
                 </div>
                 <div class="col-auto">
                     <div class="custom-control custom-switch">
                         <input type="checkbox" class="custom-control-input" (change)="toggleDark()"  />
                         <span class="custom-control-label"></span>
                     </div>
                 </div>
             </div>
         </div>
         <div class="list-group-item">
             <div class="row align-items-center">
                 <div class="col">
                     <strong class="mb-0">Custom theme color</strong>
                     <p class="text-muted mb-0">Fusce lacinia elementum eros, sed vulputate urna eleifend nec.</p>
                 </div>
                 <div class="col-auto">
                     <div class="custom-control custom-switch">
                         <input type="checkbox" class="custom-control-input" id="alert2"  />
                         <span class="custom-control-label"></span>
                     </div>
                 </div>
             </div>
         </div>
</div>
    