<div
  class="holder"
  *ngIf="!opened"
  (click)="closeSidebar()"
  [ngStyle]="sideIsClosed ? expand : contract"
>
  <div class="wrapper">
    <input
      placeholder="Filter by month"
      type="text"
      class="form-control"
      onfocus="(this.type='month')"
    />
  </div>

  <div class="card requests">
    <div class="card-header border-transparent">
      <h3 class="card-title">Payments</h3>
      <div class="card-tools">
        <input
          type="text"
          name="table_search"
          [(ngModel)]="query"
          placeholder="Search unit"
          [formControl]="filter"
        />

        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-search"></i>
        </button>

        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="bx bxs-wrench" (click)="toggleActions()"></i>
        </button>

        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-plus" (click)="openForm()"></i>
        </button>
      </div>
    </div>
  </div>
  <a *ngFor="let payment of payments$ | async; index as i">
    <div class="table-row">
      <div class="payment">
        <p class="text-md">
          <ngb-highlight
            [result]="payment.unit"
            [term]="filter.value"
          ></ngb-highlight>
        </p>
        <p class="text-md">
          <ngb-highlight
            [result]="payment.invoice"
            [term]="filter.value"
          ></ngb-highlight>
        </p>
        <p>
          Amount:Kshs
          <ngb-highlight
            [result]="payment.amount"
            [term]="filter.value"
          ></ngb-highlight>
        </p>
      </div>
      <p class="text-sm text-muted">1/07/22</p>
    </div>
    <div class="dropdown-divider"></div>
  </a>
</div>

<app-add-payment-form
  *ngIf="opened"
  (event)="restoreAfterForm($event)"
></app-add-payment-form>
