
<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
    <a><b>Smart </b>Estates</a>
    </div>
    
    <div class="lockscreen-name">John Doe</div>
    
    <div class="lockscreen-item">
    
    <div class="lockscreen-image">
    <img src="../../../assets/images/default-user.jpg" alt="User Image">
    </div>
    
    
    <form class="lockscreen-credentials">
    <div class="input-group">
    <input type="password" class="form-control" placeholder="password">
    <div class="input-group-append">
    <button type="button" class="btn">
    <i class="fas fa-arrow-right text-muted"></i>
    </button>
    </div>
    </div>
    </form>
    
    </div>
    
    <div class="help-block text-center">
    Enter your password to retrieve your session
    </div>
    <div class="text-center">
    <a routerLink="/login">Or sign in as a different user</a>
    </div>
    <div class="lockscreen-footer text-center">
    Copyright © 2014-2021 <b><a  class="text-black">AdminLTE.io</a></b><br>
    All rights reserved
    </div>
    </div>

    