
<div  class="register-page" style="min-height: 570.802px;">
    <div class="register-box">
    <div class="register-logo">
    <a><b>Smart </b>Estates</a>
    </div>
    <div class="card">
    <div class="card-body register-card-body">
    <p class="login-box-msg">Register a new membership</p>
    <form [formGroup]="signUpForm" method="post">
    <div class="input-group mb-3" [hidden]="true">
    <input type="text" class="form-control" placeholder="propertyManagerID" formControlName="propertyManagerID">
    <div class="input-group-append">
    <div class="input-group-text">
    <span class="fas fa-user"></span>
    </div>
    </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username" formControlName="username">
        <div class="input-group-append">
        <div class="input-group-text">
        <span class="fas fa-user"></span>
        </div>
        </div>
    </div>


    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" formControlName="emailAddress">
        <div class="input-group-append">
        <div class="input-group-text">
        <span class="fas fa-envelope"></span>
        </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Phone" formControlName="phoneNumber">
        <div class="input-group-append">
        <div class="input-group-text">
        <span class="fas fa-phone"></span>
        </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <select class="form-control" formControlName="userType">
            <option disabled>User Type</option>
            <option value="PROPERTYMANAGER">Property Manager</option>
            <option value="TENANT">Tenant</option>
           <!-- <option *ngFor="let user of userTypes"  [value]="user.value">{{user.viewValue}}</option>-->
        </select>

        <div class="input-group-append">
        <div class="input-group-text">
        <span class="fas fa-user"></span>
        </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <div class="input-group-append">
        <div class="input-group-text">
        <span class="fas fa-lock"></span>
        </div>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Retype password" formControlName="confirm_psw">
        <div class="input-group-append">
        <div class="input-group-text">
        <span class="fas fa-lock"></span>
        </div>
        </div>
    </div>
    <div class="row">
    <div class="col-8">
    <div class="icheck-primary">
    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
    <label for="agreeTerms">
    I agree to the <a>terms</a>
    </label>
    </div>
    </div>
    
    <div class="col-4">
    <button  (click)="registerUser()"  class="btn btn-primary btn-block" (click)="registerUser()">Register</button>
    </div>
    
    </div>
    </form>
    <div class="social-auth-links text-center">
    <p>- OR -</p>
    <a  class="btn btn-block btn-primary">
    <i class="fa fa-phone mr-2"></i>
     Sign up using Phone
    </a>
    <a  class="btn btn-block btn-danger">
    <i class="fab fa-google-plus mr-2"></i>
     Sign up using Google+
    </a>
    </div>
    <a routerLink="/login" class="text-center">I already have a membership</a>
    </div>
    
    </div>
    </div>

</div>