
<div class="acc-holder">
    <div class="inner">
        <div class="top-profile "> 
            <h2>Email</h2>
            <span >Current Email</span>
            <p>Your current email address is <span id="email">qazwsxnkomlp@students.uonbi.ac.ke</span></p>
            <p>Manage your personal information, and control which information other people see and apps may accces</p>
            <p><img src="../../../assets/images/google.svg">Login with Google enabled</p>
        </div>
        <div class="warning">
            <div> 
                <img src="../../../assets/images/warning.png">
            </div> 
            <div>
                <span >Connected Account</span>
                <p>Your account is connected to a Google account. Changing the email address here will disconnect your account from the Google account</p>
            </div> 
        </div>

        <form> 
            <label>New email address</label><br>
            <input type="text" placeholder="Enter new email address" ><br>
            <button type="submit">Save changes</button>
        </form>

        <h3>Email Notifications</h3>
        <p>To manage the emails you get visit the <a>email preferences center</a> </p>
</div>
